.pragmatic_log{
    font-family: 'Lobster', cursive;
}
.pragmatic_footer_button{
    font-size: 0.6rem;
}
.pragmatic_footer{
    text-align: center;
    margin-top: 2rem;
}
.pragmatic__header{
    text-align: center;
    margin: 2rem 0;
}